<!-- Page to create encounter -->
<h2>Enter the title of your encounter below to get started</h2>
<!-- add title box, redirect to view page with monster search bar && instructions-->
<% if(currentUser) { %>
    <form method="POST" action="/encounter">
        <div class="form-group">
            <label for="createEncounter" class="sr-only">Create Encounter</label>
            <input type="text" class="form-control" type="text" name="title" id="createEncounter">
            <button class="btn btn-primary" type="submit">Create Encounter</button>
        </div>
    </form>
<% } else { %>
    <form class="form-group" action="./auth/register"> 
        <label for="viewMonster" class="sr-only">Sign up</label>
        <input id="viewMonster" class="btn btn-primary" type="submit" name="name" value="Sign up here to continue">  
    </form>
<% } %>
