<!-- Page to run encounter -->
<h2>Time to roll for initiative!</h2>

<h3><%= encounter.title %></h3>
<hr />

<% monsters.forEach(function(monster) { %>
    <div class="well">
        <h4><%= monster.name %></h4>
        <!-- TODO: health, delete button  -->
        <form>
            <label for="updateOrder">Enter initiative</label>
            <input id="updateOrder" type="text" placeholder="<%= monster.initiative %>">
        </form>
        <hr />
    </div>
<% }) %>