<h1>Welcome to Encounter Tracker!</h1>

<h4>Please sign up, or log in to get started</h4>
<form class="form-inline" action="./auth/login"> 
    <label for="viewMonster" class="sr-only">Sign up</label>
    <input id="viewMonster" class="btn btn-primary" type="submit" name="name" value="Login to continue">  
</form>
<p>Or</p>
<form class="form-inline" action="./auth/register"> 
    <label for="viewMonster" class="sr-only">Sign up</label>
    <input id="viewMonster" class="btn btn-primary" type="submit" name="name" value="Sign up here">  
</form>