<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encounter Tracker</title>
</head>
<body>
    <header>
        <nav>
            <% if(currentUser) { %>
                <a href="/auth/logout">Logout</a>
                <a href="/profile">Profile</a>
                <a href="/">Home</a>
                <form action="/monster/view" method="GET"> 
                    <input id="viewMonster" class="form-control" type="text" placeholder="Search for monsters.">  
                </form>
            <% } else { %>
                <a href="/auth/register">Register</a>
                <a href="/auth/login">Login</a>
                <a href="/">Home</a>
                <form action="/monster" method="GET"> 
                    <input id="viewMonster" class="form-control" type="text" name="index" placeholder="Search for monsters.">  
                </form>
            <% } %>
        </nav>
    </header>
    <div class="container">
        <h1>Authenticating Users 🐋</h1>
        <%- include('./partials/alerts') %>
        <%- body %>
    </div>
    
</body>
</html>