<h2>Hi <%= currentUser.name %>. Welcome to Encounter Tracker!</h2>

<% encounter.forEach(function(encounter) { %>
    <div class="well">
        <h2><%= encounter.title %></h2>
        <form action="/encounter/view">
            <label for="viewEncounter"class="sr-only">View encounter</label>
            <input id="viewEncounter" class="btn btn-primary" type="submit" value="View Encounter">
        </form>
        <hr />
    </div>
<% }); %>

<!-- From there create a "run" button that goes to run encounter page and loads encounters with list of monsters -->
