<!-- Add Own Monsters to Database -->
<h2>Add Your Own Monster Here</h2>

<form method="POST" action="/monster">
    <div class="form-group">
        <label class="sr-only">Add Monster Name</label>
        <input type="text" name="name" placeholder="Monster Name">
        
        <label class="sr-only">Add Monster Hit Points</label>
        <input type="text" name="health" placeholder="Hit Points">
    </div>
    <div class="form-group">
        <label for="encounter" class="sr-only">Encounter</label>
        <select class="form-group btn btn-dark" name="encounterId" id="encounter">
            <% encounter.forEach(function(encounter) { %> 
                <option value="<%= encounter.id %>"><%= encounter.title %></option>
            <% }) %>
        </select>
    </div>
    <button class="btn btn-primary" type="submit">Add to encounter</button>
</form>
