<!-- Page to view monsters and add them to an encounter (single list to start) -->
<h2>Monster Results Viewing Page</h2>


    <div>
        <h2><%= monster.name %></h2>
        <h2><%= monster.type %></h2>
        <h2><%= monster.challenge_rating %></h2>
    </div>
