<!-- Page to view monsters and add them to an encounter (single list to start) -->
<h2>Monster Results Viewing Page</h2>

<div>
    <h2><%= monster.name %></h2>
    <h2><%= monster.type %></h2>
    <h2><%= monster.challenge_rating %></h2>
</div>

<!-- TODO: Make add to encounter button that adds monsters to an encounter -->
<% if(currentUser) { %>
    <form method="POST" action="/monster">
        <label class="sr-only">Add monster to encounter</label>
        <input hidden type="text" name="name" value="<%= monster.name %>">
        <button class="btn btn-primary" type="submit">Add to encounter</button>
    </form>
<% } else { %>
    <p class="form-inline">Please <a class="form-inline" href="/auth/register"> Sign up </a> to continue.</p>
<% } %>


